.content {
  padding: 10rpx 30rpx 20rpx;
}

.info-list {
  padding: 0 10rpx;
}

.info-list-item {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  padding: 20rpx 0;
  font-size: $uni-font-size-small;

  .label {
    color: $uni-secondary-color;
  }

  .value {
    color: $uni-main-color;
  }
}
