.content {
  padding: 30rpx;
}

.timeline {
  border-left: 2rpx dashed #f4f4f4;
  margin-left: 30rpx;
  padding: 0 30rpx;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    left: -24rpx;
    width: 44rpx;
    height: 44rpx;
    text-align: center;
    line-height: 44rpx;
    font-size: 24rpx;
    color: #fff;
    border-radius: 50%;
    background-color: pink;
  }

  &::before {
    content: '起';
    top: -1rpx;
    background-color: $uni-main-color;
  }

  &::after {
    content: '止';
    bottom: -1rpx;
    background-color: $uni-primary;
  }

  .line {
    font-size: $uni-font-size-small;
    color: $uni-secondary-color;
    margin-top: 30rpx;

    &:first-child {
      margin-top: 0;
    }
  }
}

.info-list {
  border-top: 2rpx solid #f4f4f4;
  padding: 20rpx 10rpx 0;
  margin-top: 40rpx;
}

.info-list-item {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  padding: 20rpx 0;
  font-size: $uni-font-size-small;

  .label {
    color: $uni-secondary-color;
  }

  .value {
    color: $uni-main-color;
  }
}
