.content {
  padding: 0 30rpx 20rpx;
}

.info-list {
  border-bottom: 2rpx solid #f4f4f4;
  padding: 16rpx 10rpx;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.info-list-item {
  display: flex;
  line-height: 1;
  padding: 20rpx 0;
  font-size: $uni-font-size-small;

  .label {
    color: $uni-main-color;
  }

  .value {
    margin-left: 30rpx;
    color: $uni-secondary-color;
  }
}
