.vehicle-options {
  display: flex;
  flex-wrap: wrap;
  font-size: $uni-font-size-small;

  .option {
    width: 180rpx;
    height: 70rpx;
    text-align: center;
    line-height: 72rpx;
    margin-top: 30rpx;
    margin-right: 38rpx;
    color: $uni-main-color;
    border: 2rpx solid $uni-bg-color;
    background-color: $uni-bg-color;
    border-radius: 20rpx;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &.active {
      color: $uni-primary;
      border: 2rpx solid $uni-primary;
      background-color: #ffe0dd;
    }
  }
}
